@import '../../assets/styles/shared-styles.scss';

.layout{
    min-height: 100vh;
    &_children{
        position: relative;
        height: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 60px 30px 40px 30px;
        @include media("<=tablet"){
            padding: 60px 16px 40px 16px;
        }
    }
}