@import '../../assets/styles/shared-styles.scss';

.wrapper{
background-color: $blue;
height: 60px;
color: $white;
.nav{
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    @include media("<=phone"){
        padding: 0 16px;
    }
    &_left{
        display: flex;
        align-items: center;
    }
    &_menu{
        margin-right: 10px;
        svg{
            height: 100%;
            path{
                stroke: $white;
            
            }
            
        }
    }
    &_logo{
        p{
         font-family: 'Pacifico', cursive;
         font-size: 20px;
        }
    }
    &_search{
        width: 70%;
        padding: 0 20px;
        @include media('<=phone'){
            display: none;
        }
        input{
            height: 35px;
            width: 100%;
        }
    }
    &_right{
        display: flex;
        align-items: center;
        height: 100%;
        &_userName{
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
        }
        &_cart{
            position: relative;
            height: 30px;
            &Icon{
                height: 100%;
                svg{
                    height: 100%;
                    width: 50px;
                    path{
                        fill: $white;
                    
                    }
                    
                }
            }
            &Count{
                text-align: center;
                position: absolute;
                width: 17px;
                height: 17px;
                background-color: $white;
                border-radius: 50%;
                top: 0;
                right: 5px;
                p{
                    color: $black;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}
}